/* Global */
:root {
  --dark-green: #002e25;
  --primary: #004c3f;
  --seccondary: #008060;
  --light-gray: #6b7177;
  --dark: #212333;
  --dark-gray: #42476a;
  --padding-btn: 16px;
}
body {
  /* background: #fbf7ed; */
  overflow-x: hidden;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 18px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 22px;
}

.nav a {
  color: var(--dark-gray);
  font-weight: bold;
}

.link_arrow {
  display: inline;
  margin-left: 16px;
}

a {
  text-decoration: none;
}

input {
  padding: 16px 10px;
  color: var(--dark);
  background: white;
  border: solid 1px var(--dark);
  border-radius: 5px;
}

.btn {
  padding: 16px 0;
  background: var(--seccondary);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.02rem;
  font-weight: bolder;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.grid {
  display: grid;
}

.link {
  font-weight: bolder;
}

.green {
  color: var(--seccondary);
}

/* Mobile */
.nav_desktop {
  display: none;
}

.hero {
  padding-top: 60px;
}

.hero .content {
  padding: 0 1.2rem;
}

header .container {
  padding: 0rem;
}

.hero h1 {
  font-weight: bolder;
  color: var(--dark-green);
}

.hero form {
  margin: 20px 0;
}

.hero form * {
  display: block;
  width: 100%;
  margin: 0 0px 10px 0px;
}

.hero .small {
  color: var(--light-gray);
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.hero .img-hero {
  max-width: 100%;
  margin-top: 2rem;
  /* width: 100px; */
  /* display: none; */
}

.hero .img-hero img {
  position: relative;
  /* left: -18px; */
  width: 100%;
  /* margin: -305px;
  margin-bottom: 0px; */
}

#business_online {
  margin-top: -10px;
  background-color: var(--primary);
  color: white;
  padding: 4rem 0;
}

#business_online * {
  color: white;
}

#business_online h2 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

#business_online p {
  padding: 0.5rem 0;
}

#business_online p {
  padding: 0.7rem 0;
}

.grid-5 {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
  padding: 3rem 0;
}

.grid-5 .card:last-child {
  display: none;
}

.grid-5 .card img {
  width: 100%;
}

.grid-5 .card p {
  padding: 0rem !important;
}

.grid-5 .card .title {
  font-weight: bolder;
  text-transform: uppercase;
}

.grid-5 .card .underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

#business_online h3 {
  font-size: 1.3rem;
  padding-bottom: 1.9rem;
  padding-top: 4rem;
}

#business_online .grid-4 p {
  padding: 0rem !important;
}

#business_online .grid-4 {
  grid-template-columns: 1fr;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

#business_online .grid-4 .card .card-img {
  max-width: 40px;
  padding-bottom: 0.8rem;
}

#business_online .grid-4 .card .card-img img {
  width: 100%;
  fill: var(--light-gray);
}

#business_online .grid-4 .card .card-title {
  font-weight: bolder;
  padding-bottom: 0.5rem !important;
}

.talk {
  background: white;
  padding: 3.8rem 2.4rem;
  text-align: center;
}

.talk h3 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.talk p {
  font-size: 1.1rem;
  color: var(--light-gray);
}

#left-right {
  background: white;
  width: 100%;
}

#left-right h3 {
  font-size: 1.35rem;
  padding: 0.5rem 0rem;
  line-height: 25px;
  max-width: 113.5px;
}

#left-right p {
  font-size: 1rem;
  color: var(--light-gray);
  padding: 1rem 0rem;
}

#left-right .link {
  color: var(--seccondary);
}

#left-right .section {
  max-width: 100%;
  padding: 1.5rem 1rem;
}

#left-right .bg-square {
  max-width: 100%;
}

#left-right video,
#left-right img {
  width: 100%;
}

#left-right .section {
  display: grid;
  grid-template-columns: 1fr;
}

#left-right .content {
  grid-row: 1;
  width: 100%;
  padding-bottom: 1.5rem;
}

#left-right .section2 {
  padding: 0;
}

#left-right .section2 h3 {
  max-width: 200px;
}

#cote {
  background: var(--dark-green);
  color: white;
  margin: 1rem;
  text-align: center;
  margin-top: 9rem;
}

#cote .container {
  padding: 0rem;
}

#cote .img {
  max-width: 100%;
}

#cote .img img {
  width: 100%;
  height: auto;
}

#cote .content {
  padding: 2rem;
  padding-bottom: 3rem;
}

#cote .content .cote {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 30px;
  /* padding-bottom: 2rem; */
}

#cote .logo-cee {
  padding: 2rem 0rem;
}

#cote .cote2 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#cote .btn {
  border: 1px solid white;
  background: none;
  padding: 1rem;
  display: inline-block;
  /* margin-bottom: 5rem; */
  transition: all ease-in-out 0.4s;
}

#cote .btn:hover {
  background-color: white;
  color: var(--dark-green);
  /* margin-bottom: 5rem; */
}

#cote .btn:hover p {
  color: black;
  /* margin-bottom: 5rem; */
}

#cote .btn p {
  display: inline;
  font-weight: bold;
  font-size: 0.9rem;
  box-sizing: content-box;
  padding-left: 1rem;
}

#help {
  background: #fbf7ed;
  grid-template-columns: 1fr;
}

#help .container {
  padding: 0;
}

#help .content {
  grid-area: 1;
  padding: 2rem;
  padding-top: 4rem;
}

#help .img {
  max-width: 100%;
}

#help img {
  width: 100%;
}

#help .content h2 {
  font-weight: lighter;
  max-width: 300px;
  padding-bottom: 3rem;
  line-height: 30px;
  font-size: 1.7rem;
}

#help .card {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#help .card-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

#help .card p {
  color: var(--light-gray);
  line-height: 25px;
  margin-bottom: 1rem;
}

#talk p {
  margin-bottom: 3rem;
}

#talk .btn {
  padding: 1rem 2rem;
}

#up {
  text-align: center;
  padding: 2rem 0rem;
}

footer {
  background: var(--dark-green);
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .links {
  padding: 1rem 0rem;
  padding-top: 1.5rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* margin-bottom: 1rem; */
}

footer .links a {
  font-weight: bolder;
  line-height: 30px;
  margin: 0rem 0.5rem;
}

footer .grids {
  grid-template-columns: 1fr 1fr;
  width: 90%;
  gap: 2rem;
  margin: 1.5rem auto;
}

footer .grids a {
  opacity: 0.8;
  font-size: 0.95rem;
  padding: 0.2rem 0;
}

footer .grid-3-1 {
  grid-area: span 3;
  max-height: 1px;
}

footer .hr {
  width: 100%;
  height: 1px;
  opacity: 0.7;
  background-color: var(--light-gray);
}

footer .flex * {
  padding: 0;
  display: inline-block;
  /* margin: 1rem; */
}

footer .flex {
  text-align: center;
  padding: 2rem;
  /* margin: 1rem; */
}

footer .flex {
  text-align: center;
}

/* footer .media {
} */

footer .media a {
  padding: 0rem 0.3rem;
  font-weight: normal;
  font-size: 1.2rem;
}

footer .flex .links {
  border: none;
}

footer .flex .links a {
  display: block;
  font-size: 0.9rem;
}

/* mobile large */

@media (min-width: 486px) {
  .hero form {
    display: flex;
  }

  .hero form * {
    margin: 0.5rem;
  }

  .hero form button {
    width: 50%;
  }
}

/* tablete large */

@media (min-width: 750px) {
  .hero .content {
    max-width: 500px;
  }

  .talk * {
    max-width: 400px;
    margin: 0 auto;
  }

  .hero form {
    display: block;
  }

  .hero form button {
    width: 100%;
  }

  #business_online .grid-5 {
    grid-template-columns: repeat(3, 1fr);
  }

  #business_online .card:nth-child(4) {
    display: none;
  }

  #business_online .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  #business_online .grid-4 .card:last-child {
    display: grid;
  }

  #business_online .grid-4 .card {
    text-align: left;
  }

  .hero .content,
  #business_online,
  #left-right {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #cote .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #cote .container .img {
    max-height: 100%;
    width: auto;
  }

  #cote .container .img img {
    height: 100%;
    width: 100%;
  }

  #help .grid .img {
    display: none;
  }

  #help .grid .grid-3 {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  footer .links:first-child a {
    text-align: left;
  }

  footer .grid-3-1 {
    grid-template-columns: repeat(3, 1fr);
    gap: 0rem 1rem;
  }

  footer .grids {
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0rem 1rem;
  }

  footer .grids a {
    display: inline-block;
    /* gap: 1rem; */
  }

  footer .grids .grid-1-1 {
    height: 50%;
    /* gap: 1rem; */
  }

  footer .flex {
    display: flex;
    justify-content: space-around;
  }

  footer .flex .media {
    width: 50%;
    text-align: left;
  }
  footer .flex .links {
    display: flex;
    text-align: right;
    width: 50%;
    /* max-width: fit-content; */
    /* justify-content: left;
    align-content: space-between; */
  }
}

/* tablet large */

@media (min-width: 850px) {
  #business_online .card:nth-child(4) {
    display: inline-block;
  }

  #business_online .grid-5 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* desktop */

@media (min-width: 1080px) {
}
